@import '_constants.css';

.form-container {
    text-align: center;
    padding: 14px;
    background-color: var(--workspace-color) !important;
    width: 350px;
}

form {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin-top: 16px !important;
}
