@import '_constants.css';


.form-container {
    width: 100%;
    max-width: 600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form-container > form {
    flex-grow: 1;
}

@media screen and (min-width: 600px) {
    .form-container {
        margin-top: 64px;
        flex-grow: 0;
    }
}



form {
    display: flex;
    flex-direction: column;
}

.form-header {
    font-size: 2em;
    text-align: center;
}



.form-container > form > .form-header {
    padding: 24px 24px 20px 24px;
}

.form-container > form > .form-content {
    padding: 0 24px 24px 24px;
    flex-grow: 1;
}

.form-container > form > footer {
    margin: 8px 4px;
    display: flex;
    justify-content: flex-end;
}


/*LOGIN FORM*/

.login-form {
    display: flex;
    flex-direction: column;
}


/*REGISTER FORM*/

.register-form {
    display: flex;
    flex-direction: column;
}


/*ENTRY FORM*/

.new-entry-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;

    grid-template-areas:
        'value category'
        'description description'
        'date date'
        'subEntries subEntries'
        'newSubEntry newSubEntry';
}

.new-entry-form .currency-input { grid-area: value; }
.new-entry-form .category-input { grid-area: category; }
.new-entry-form .description-input { grid-area: description; }
.new-entry-form .date-input { grid-area: date; }
.new-entry-form .subEntry-area { grid-area: subEntries; }
.new-entry-form .new-subEntry-btn { grid-area: newSubEntry; }
.new-entry-form .remove-subEntry-btn { grid-area: removeSubEntry; align-self: end; }
.new-entry-form .subEntry-area .subEntry-row {
    display: grid;
    grid-template-columns: 1fr 1fr 48px;
    grid-column-gap: 1em;

    grid-template-areas:
        'value category removeSubEntry'
        'description description description';

    margin-top: 16px;
}

@media screen and (min-width: 600px) {
    .new-entry-form .subEntry-area .subEntry-row {
        grid-template-columns: 1fr 1fr 1fr 48px;

        grid-template-areas:
            'value description category removeSubEntry';
    }
}

/*CATEGORY FORM*/

.category-form {
    display: flex;
    flex-direction: column;
}


/*ENTRIES SELECTION FORM*/

.selection-entries-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;

    grid-template-areas:
        'from to'
        'categories categories';
}
.selection-entries-form .from-input {
    grid-area: from;
    margin-left: 16px;
    margin-right: 8px;
}
.selection-entries-form .to-input {
    grid-area: to;
    margin-left: 8px;
    margin-right: 16px;
}
.selection-entries-form .categories-input {
    grid-area: categories;
}