@import '_constants.css';



@media screen and (max-width: 600px) {

    #root > main > div {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
    }

    #root > main > div > form {
        flex-grow: 1;
    }

}


.form-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width: 600px) {

    .form-container {
        width: 600px;
        margin-top: 48px;
        height: auto;
    }

}



form {
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.form-header {
    font-size: 2em;
    text-align: center;
}

form div.form-content {
    flex-grow: 1;
}

form footer {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
}

form footer * {
}

.submit-button {
    /*margin-top: 16px !important;*/
}


/*LOGIN FORM*/

form div.form-content.login-form {
    display: flex;
    flex-direction: column;
}


/*REGISTER FORM*/

form div.form-content.register-form {
    display: flex;
    flex-direction: column;
}


/*ENTRY FORM*/

form div.form-content.new-entry-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;

    grid-template-areas:
        'value category'
        'description description'
        'date date'
        'subEntries subEntries'
        'newSubEntry newSubEntry';
}

form div.form-content.new-entry-form .currency-input {
    grid-area: value;
}
form div.form-content.new-entry-form .category-input {
    grid-area: category;
}
form div.form-content.new-entry-form .description-input {
    grid-area: description;
}
form div.form-content.new-entry-form .date-input {
    grid-area: date;
}
form div.form-content.new-entry-form .subEntry-area {
    grid-area: subEntries;
}
form div.form-content.new-entry-form .new-subEntry-btn {
    grid-area: newSubEntry;
}
form div.form-content.new-entry-form .remove-subEntry-btn {
    grid-area: removeSubEntry;
    align-self: end;
}

form div.form-content.new-entry-form .subEntry-area .subEntry-row {
    display: grid;
    grid-template-columns: 1fr 1fr 48px;
    grid-column-gap: 1em;

    grid-template-areas:
        'value category removeSubEntry'
        'description description description';

    margin-top: 16px;
}

@media screen and (min-width: 600px) {
    form div.form-content.new-entry-form .subEntry-area .subEntry-row {
        grid-template-columns: 1fr 1fr 1fr 48px;

        grid-template-areas:
            'value description category removeSubEntry';
    }
}

/*CATEGORY FORM*/


form div.form-content.category-form {
    display: flex;
    flex-direction: column;
}
