@import '_constants.css';


@media screen and (min-width: 600px) {

    .entry-register {
        width: 100%;
        max-width: 960px;
    }

}

.entries-for-day.header {
    font-size: 1.2em;
    padding: 12px 0 12px 24px;
}


.category {
    font-style: italic;
}
.description {
    font-size: 1.1em;
}
.value {
    font-size: 1.1em;
    display: flex;
}
.currency {
    margin-left: 0.5em;
    font-size: 0.6em;
    color: var(--basic-font-color);
}


.entry-row-summary {
    width: 100%;

    display: grid;
    grid-template-columns: auto minmax(10px, 1fr) auto;

    grid-template-areas:
        'time category value'
        'description description value';
}

.entry-row-summary .time {
    grid-area: time;
}
.entry-row-summary .category {
    grid-area: category;

    margin-left: 1em;
}
.entry-row-summary .description {
    grid-area: description;
}
.entry-row-summary .value {
    grid-area: value;

    align-self: center;
    justify-self: end;

    margin-left: 1em;
}



.entry-row-details {
    width: 100%;

    display: grid;
    grid-template-columns: minmax(10px, 1fr) auto;

    grid-template-areas:
        'subEntriesArea subEntriesArea'
        'added added'
        'modified modified';
}

.entry-row-details .addition-date {
    grid-area: added;
}
.entry-row-details .last-modification-date {
    grid-area: modified;
}
.entry-row-details .sub-entries-area {
    grid-area: subEntriesArea;

    margin: 0 1em 1em 1em;

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.4em;
}

.sub-entries-area .value  {
    justify-self: end;
}

